
// Base font size
$font-size-base: 16px;
$font-family-base: 'Montserrat' !default;
$font-family-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;

// Font sizes Desktop
$font-size-h1: 3rem;
$font-size-h2: 2.25rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.3125rem;
$font-size-h5: .875rem;
$font-size-h6: 1rem;
$font-size-lead: 1.125rem;
$font-size-small: 1rem;
$font-size-x-small: 1.14rem;

// Font sizes Mobile
$font-size-h1-mobile: 3rem;
$font-size-h2-mobile: 1.5rem;
$font-size-h3-mobile: 1.3125rem;
$font-size-h4-mobile: 1.125rem;
$font-size-h5-mobile: .8125rem;
$font-size-lead-mobile: 1.125rem;

// Line heights
$line-height-base: 1.5;
$line-height-p: 1.5;
$line-height-h1: 1.25;
$line-height-h2: 1.25;
$line-height-h3: 1.5;
$line-height-h4: 1.5;
$line-height-h5: 1.6;
$line-height-h6: 1.7;
$line-height-lead: 1.8;
$line-height-small: 1.5;

// Line heights mobile
$line-height-h1-mobile: 1.25;
$line-height-h2-mobile: 1.25;
$line-height-h3-mobile: 1.25;
$line-height-h5-mobile: 1.5;
$line-height-h6-mobile: 1.5;


// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Spacing
$margin-bottom: 1rem;


// Button Font Sizes
$ui-button-large: 600 18px/1 Montserrat;
$ui-button: 500 15px/1 Montserrat;
$ui-button-small: 500 13px/1 Montserrat;
$ui-input-large: 600 18px/1.31 Montserrat;
$ui-input-medium: 600 16px/1.28 Montserrat;
$ui-input-small: 600 14px/1.28 Montserrat;
$ui-label-large: 700 16px/1.6 Montserrat;
$ui-label-medium: 600 14px/1.6 Montserrat;
$ui-label-small: 600 13px/1.6 Montserrat;
