@import "base";


body {
  font-size: clamp(#{$font-size-base}, 1rem, 2rem);
  line-height: $line-height-base;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: $font-weight-bold;
}

h1, .h-1 {
  font-size: clamp(#{$font-size-h1}, 2rem, 4rem);
  line-height: $line-height-h1;
}

h2, .h-2 {
  font-size: clamp(#{$font-size-h2}, 1.5rem, 3rem);
  line-height: $line-height-h2;
}

h3, .h-3 {
  font-size: clamp(#{$font-size-h3}, 1.25rem, 2.5rem);
  line-height: $line-height-h3;
}

h4, .h-4 {
  font-size: clamp(#{$font-size-h4}, 1.125rem, 2rem);
  line-height: $line-height-h4;
}

h5, .h-5 {
  font-size: clamp(#{$font-size-h5}, 1rem, 1.75rem);
  line-height: $line-height-h5;
}

h6, .h-6 {
  font-size: clamp(#{$font-size-h6}, 0.875rem, 1.5rem);
  line-height: $line-height-h6;
}

.lead {
  font-size: clamp(#{$font-size-lead}, 1rem, 2rem);
  line-height: $line-height-lead;
}

.small {
  font-size: clamp(#{$font-size-small}, 0.75rem, 1.25rem);
  line-height: $line-height-small;
}

p, .p {
  margin-bottom: $margin-bottom;
}
